default/data
default/logs
prod_server/data
prod_server/logs
paris_horizon_base/cache
paris_horizon_base/db
paris_horizon_base/.replxx_history
paris_horizon_base/server.cfg.bkp
paris_horizon_base/resources/\[qb]/qb-doorlock/saves/doorstates.json