@font-face {
  font-family: GilroyMedium;
  src: url(./font/Gilroy-Medium_0.ttf);
  font-style: normal;
}

@font-face {
  font-family: GilroySBold;
  src: url(./font/Gilroy-SemiBold_0.ttf);
  font-style: normal;
}

@font-face {
  font-family: GilroyRegular;
  src: url(./font/Gilroy-Medium_0.ttf);
  font-style: normal;
}

@font-face {
  font-family: GilroyBold;
  src: url(./font/Gilroy-Bold_0.ttf);
  font-style: normal;
}


@layer utilities {
  .custom-gradient {
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    linear-gradient(180deg, #0000003c 0%, rgba(0, 0, 0, 0) 24.61%),
    linear-gradient(270deg, #0000003c 0%, rgba(0, 0, 0, 0) 35.31%),
    linear-gradient(90deg, #0000003c 0%, rgba(0, 0, 0, 0) 30.2%);
  }
}

*{
  transition: all 0.3s ease;
}

body {
  overflow: hidden;
  user-select: none;
  cursor: default;
}

#Create_Button {
  cursor: default;
}

::-webkit-scrollbar-track { border-radius: 0px; } ::-webkit-scrollbar { width: 0px; height: 0px; } ::-webkit-scrollbar-thumb { border-radius: 0px; background-color: transparent; } 

.empty-slot:hover .path1{
  fill: #6677a0;
  fill-opacity: 0.25;
}
.empty-slot:hover .path2{
  fill: #B2C7FA;
  fill-opacity: 1;
}

.empty-slot:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 0.8vw #b2c8fa45);
}

.empty-slot:active {
  opacity: 0.5;
  transform: scale(0.95);
}

.full-slot:hover .path1{
  fill: #6677a0;
  fill-opacity: 0.25;
}
.full-slot:hover .path2{
  fill: #B2C7FA;
  fill-opacity: 1;
}

.full-slot:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 0.8vw #b2c8fa45);
}

.full-slot:active {
  opacity: 0.5;
  transform: scale(0.95);
}

.location-box {
  border: 2px solid transparent;
}

.location-box:hover {
  border: 2px solid #B2C7FA;
}

input {
  outline: none;
}

.first {
  position: absolute;
  top: 19.75vw;
  left: 40.3333vw;
}

.mainbg {
  position: relative;
  background-image: url(./img/mainbg.svg);
  width: 23.4375vw;
  height: 13.0208vw; 
}

.mainheader {
  position: relative;
  color: #282828;
  font-size: 1.4583vw; 
  font-weight: 800;
  line-height: normal;
  top: 2.125vw; 
  left: 1.5625vw; 
}

.maindesc {
  position: relative;
  color: #282828;
  font-family: GilroyMedium;
  font-size: 0.8333vw;
  font-weight: 600;
  max-width: 20.3125vw;
  max-height: 3.6458vw;
  top: 3.0833vw;
  left: 1.5625vw; 
  line-height: normal;
}

.button-container {
  display: flex;
  gap: 1.0417vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  width: 10.4167vw; 
  height: 2.6042vw; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5208vw;
  border: none;
  border-radius: 0.4167vw;
  font-size: 0.9375vw;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.accept {
  position: relative;
  left: 1.0417vw; 
  top: 4.6458vw;
  border-radius: 0.2083vw; 
  background: rgba(17, 17, 17, 0.40);
  color: white;
}

.accept:hover, .cancel:hover {
  background: #FFF;
  color: #282828;
}

.accept:active, .cancel:active {
  transform: scale(1.05);
}

.cancel {
  position: relative;
  left: 12.0833vw;
  top: 2.0417vw; 
  border-radius: 0.2083vw;
  background: rgba(17, 17, 17, 0.40);
  color: white;
}

.accept i, .cancel i {
  position: absolute;
  left: 0.5208vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.0417vw;
  width: 1.5625vw; 
  height: 1.5625vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2083vw;
  background: #2828286c;
}

.notifybg {
  position: absolute;
  background-image: url(./img/notifybg.svg);
  width: 26.0417vw;
  height: 5.2083vw;
  left: 39.0625vw; 
  top: 0.5208vw; 
}

.notifytext {
  position: relative;
  color: #282828;
  left: 4.2875vw; 
  top: -0.3575vw;
  font-family: GilroyMedium;
  font-size: 0.7075vw; 
  max-width: 20.2083vw;
  max-height: 2.6042vw;
  font-weight: 600;
  line-height: normal;
}

.notifyicon {
  position: relative;
  left: 1.5625vw;
  top: 1.5625vw;
  width: 2.0833vw;
  height: 2.0833vw;
  background-image: url(./img/circle.svg);
}