.ui-screen .hud-cont > .hud_hexagon {
    width: 3vw;
    height: 3vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.ui-screen .hud-cont > .hud_hexagon > svg {
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: 0;
    overflow: visible;
    filter: drop-shadow(0px 0px 10.01px var(--main-color));
}

.ui-screen .hud-cont > .hud_hexagon .icon {
    position: relative;
    z-index: 2;
    font-size: 0.75vw;
    color: var(--main-color);
}
