.configuration-screen section .box .content > .hud_modern1 {
    width: 8vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    pointer-events: none;
    margin-left: 0.3vw;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px 0px var(--main-color);
    border-radius: 8px;
}

.configuration-screen section .box .content > .hud_modern1 > svg {
    width: 8vw;
    height: 8vw;
    position: relative;
    left: 0;
    right: 0;
}

.configuration-screen section .box .content > .hud_modern1 svg rect {
    fill: var(--theme-bg-2);
    stroke-width: 0.3vw;
    stroke: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-dasharray: 434;
    stroke-dashoffset: -434;
    transition: stroke-dashoffset 3.325s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 8px;
}

.configuration-screen section .box .content > .hud_modern1 .icon {
    font-family: "Font Awesome 5 Free";
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    background: var(--main-color);
    padding: 8px;
    border-radius: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
}

.hud_modern1 {
    transform: rotate(45deg);
    margin: 10px;
}

.hud_modern1 .icon svg {
    rotate: -45deg;
}

.hud_modern1 .icon {
    box-shadow: 0px 0px 5px 0px var(--main-color);
}

.ui-screen .hud-cont > .hud_modern1 .icon {
    width: 14px;
    height: 14px;
}
