.configurator-displayers-setup .displayer-content_modern2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    gap: 0.5vw;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.213));
    pointer-events: none;
    flex-shrink: 0;
}

.configurator-displayers-setup .displayer-content_modern2 .col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3vw;
    flex-shrink: 0;
}

.configurator-displayers-setup .displayer-content_modern2 .row {
    display: flex;
    justify-content: flex-end;
    gap: 0.5vw;
    flex-shrink: 0;
}

.configurator-displayers-setup .displayer-content_modern2 .displayer {
    width: 8vw;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

.configurator-displayers-setup .displayer-content_modern2 .displayer .icon {
    border-radius: 10px;
    opacity: 1;
    height: 100%;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-color);
    font-family: Poppins;
    font-weight: 600;
    font-size: 1vw;
    text-align: right;
    padding: 0px;
    gap: 0.25vw;
}

.configurator-displayers-setup .displayer-content_modern2 .displayer .text {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-indent: 26.32px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.15vw;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgb(255 255 255 / 47%);
}

.configurator-displayers-setup .displayer-content_modern2 .displayer-b .icon {
    font-size: 2vw;
    color: var(--bg-light);
    margin-left: auto;
}

.configurator-displayers-setup
    .displayer-content_modern2
    .displayer-b
    .text-box {
    display: flex;
    gap: 0.2vw;
    flex-direction: column;
    align-items: flex-end;
}

.configurator-displayers-setup
    .displayer-content_modern2
    .displayer-b
    .text-box
    > .text {
    height: 100%;
    display: flex;
    font-size: 0.65vw;
    justify-content: flex-end;
    padding: 0;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-color);
    border-radius: 0.1vw;
    font-family: Poppins;
    font-weight: 600;
    text-align: right;
}

.configurator-displayers-setup
    .displayer-content_modern2
    .displayer-b
    .text-box
    > .map {
    height: 100%;
    border-radius: 0.1vw;
    width: 2vw;
    font-size: 0.55vw;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    text-align: right;
    text-shadow: 0px 0px 7px rgb(255 255 255 / 47%);
    color: rgba(255, 255, 255, 1);
}

.configurator-displayers-setup
    .displayer-content_modern2
    .displayer
    .icon
    svg
    path {
    fill: var(--main-color) !important;
}

.displayer-content_modern2 .text {
    height: 100%;
    display: flex;
    padding: 0;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-color);
    font-family: Poppins;
    font-weight: 600;
    font-size: 1vw;
    text-align: right;
    gap: 0.25vw;
}

.displayer-content_modern2 .map {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.15vw;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgb(255 255 255 / 47%);
}

.displayer-content_modern2 .text-box {
    display: flex;
    flex-direction: column;
}

.configurator-displayers-setup .displayer-content_modernskew {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    gap: 0.5vw;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.213));
    pointer-events: none;
    flex-shrink: 0;
}

.configurator-displayers-setup .displayer-content_modernskew .col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3vw;
    flex-shrink: 0;
}

.configurator-displayers-setup .displayer-content_modernskew .row {
    display: flex;
    justify-content: flex-end;
    gap: 0.5vw;
    flex-shrink: 0;
}

.configurator-displayers-setup .displayer-content_modernskew .displayer {
    width: 8vw;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

.configurator-displayers-setup .displayer-content_modernskew .displayer .icon {
    border-radius: 10px;
    opacity: 1;
    height: 100%;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-color);
    font-family: Poppins;
    font-weight: 600;
    font-size: 1vw;
    text-align: right;
    padding: 0px;
    gap: 0.25vw;
}

.configurator-displayers-setup .displayer-content_modernskew .displayer .text {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-indent: 26.32px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.15vw;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgb(255 255 255 / 47%);
}

.configurator-displayers-setup
    .displayer-content_modernskew
    .displayer-b
    .icon {
    font-size: 2vw;
    color: var(--bg-light);
    margin-left: auto;
}

.configurator-displayers-setup
    .displayer-content_modernskew
    .displayer-b
    .text-box {
    display: flex;
    gap: 0.2vw;
    flex-direction: column;
    align-items: flex-end;
}

.configurator-displayers-setup
    .displayer-content_modernskew
    .displayer-b
    .text-box
    > .text {
    height: 100%;
    display: flex;
    font-size: 0.65vw;
    justify-content: flex-end;
    padding: 0;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-color);
    border-radius: 0.1vw;
    font-family: Poppins;
    font-weight: 600;
    text-align: right;
}

.configurator-displayers-setup
    .displayer-content_modernskew
    .displayer-b
    .text-box
    > .map {
    height: 100%;
    border-radius: 0.1vw;
    width: 2vw;
    font-size: 0.55vw;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;
    text-align: right;
    text-shadow: 0px 0px 7px rgb(255 255 255 / 47%);
    color: rgba(255, 255, 255, 1);
}

.configurator-displayers-setup
    .displayer-content_modernskew
    .displayer
    .icon
    svg
    path {
    fill: var(--main-color) !important;
}

.displayer-content_modernskew .text {
    height: 100%;
    display: flex;
    padding: 0;
    text-transform: uppercase;
    align-items: center;
    color: var(--main-color);
    font-family: Poppins;
    font-weight: 600;
    font-size: 1vw;
    text-align: right;
    gap: 0.25vw;
}

.displayer-content_modernskew .map {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.15vw;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgb(255 255 255 / 47%);
}

.displayer-content_modernskew .text-box {
    display: flex;
    flex-direction: column;
}

.displayer-content_modernskew {
    transform: skew(-10deg);
}
