.ui-screen .notify-cont > .notify_classic {
    width: 20vw;
    padding: 0.8vw;
    border-radius: 0.187216vw;
    overflow: hidden;
    max-width: 20vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    color: var(--theme);
    position: relative;
    left: 0%;
    pointer-events: none;
    opacity: 0;
    flex-shrink: 0;
    background: radial-gradient(
        49.48% 49.48% at 50.52% 50.52%,
        #28343c 0%,
        rgba(14, 21, 27, 0.8) 100%
    );
    border: 1.82px solid rgba(52, 68, 82, 1);
    border-radius: 10px;
}

.ui-screen .notify-cont > .notify_classic .icon {
    padding: 1vw;
    font-size: 1.3vw;
    width: 1vw;
    height: 1vw;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 15px;
    transform: scale(0.8);
    border: 2.56px solid var(--main-color);
    box-shadow: 0px 0px 16.01px 0px var(--main-color);
}

.ui-screen .notify-cont > .notify_classic > .header-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2vw;
    width: 80%;
}

.ui-screen .notify-cont > .notify_classic > .header-box-content .header {
    font-size: 0.75vw;
    width: 100%;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}

.ui-screen .notify-cont > .notify_classic > .header-box-content .text {
    width: 100%;
    opacity: 1;
    max-width: 30vw;
    overflow: hidden;
    white-space: normal;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    padding-left: 0;
    color: rgba(125, 125, 125, 1);
}
